.arrow-style {
  cursor: pointer;
  font-size: 36px; 
  margin: 0 10px;
}


.search-bar {
  margin-bottom: 20px;
}


.stars-checkboxes {
  background-color: rgb(153, 26, 45);
}


.hotel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px; 
}


.hotel-card {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}


.hotel-photos {
  flex: 1;
  margin-right: 20px; 
}


.hotel-details {
  flex: 2;
  padding: 0 10px;
}


.hotel-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px; 
}


.spacer {
  width: 100%;
  margin-bottom: 10px;
}


.hotel-details h5 {
  font-family: 'Amiri', sans-serif;
  color: #991a2d;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
}


.hotel-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px; 
}


.hotel-info a:hover {
  color: #991a2d;
  font-weight: bold;
}


.hotel-info .text-highlight {
  color: #991a2d;
  font-weight: bold;
  margin-bottom: 5px;
}



.search-bar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}


.search-bar input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
  margin-right: 10px;
}


datalist {
  display: none;
}


.search-bar button {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #0056b3;
}
